---

interface Props {
    href?: string;
    styles?: string;
    onClick?: (event?:Event) => void;
    disabled?: boolean;
    id?: string;
}
const { href, styles, onClick, disabled = false, id } = Astro.props as Props;

const className =
    "rounded-md px-4 py-2 disabled:opacity-50 cursor-pointer";
---

{
    href && (
        <a
            href={href}
            class={`${className} ${styles}`}
            role="button"
            aria-disabled={disabled ? "true" : "false"}
            id={id}
        >
            <slot />
        </a>
    )
}
{
    onClick && (
        <button
            onclick={`${onClick}(event)`}
            class={`${className} ${styles}`}
            disabled={disabled}
            id={id}
        >
            <slot />
        </button>
    )
}
