---
import { undefined } from "astro:schema";

interface Props {
    href?: string;
    styles?: string;
    onClick?: () => void;
    disabled?: boolean;
}
const { href, styles, onClick, disabled = false } = Astro.props as Props;

const className =
    "rounded-md px-4 py-2 disabled:opacity-50";
---

{
    href && (
        <a
            href={href}
            class={`${className} ${styles}`}
            role="button"
            aria-disabled={disabled ? "true" : "false"}
        >
            <slot />
        </a>
    )
}
{
    onClick && (
        <button
            onclick={`${onClick}()`}
            class={`${className} ${styles}`}
            disabled={disabled}
        >
            <slot />
        </button>
    )
}
